.container {
  display: flex;
  border: 6px solid black;
  margin: 0;
  flex-flow: row-reverse wrap;
}
.picbox {
  display: inline-flex;
  width:  10px;
  height: 10px;
  padding: 1rem;
}

img{
  height: 25%;
  width: 25%;
}
