.container {
  display: flex;
  border: 6px solid black;
  margin: 20px;
  flex-flow: row-reverse wrap-reverse;
  /* height: 800px; */
}
.picbox {
 
  flex-direction: column-reverse wrap-reverse;
  padding: 1rem;
  
}

img{
  height: 25%;
  width: 25%;
}
